html {
    scroll-padding-top: 90px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eee5;
    font-family: sans-serif;
    color: #333;
    font-size: 1.2em;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 0 0 50px 50px;
    height: 30px;
    font-size: 1.3em;
    padding: 17px 0;
    background-color: #4aee;
    box-shadow: 0 0 10px #bbb;
    text-align: center;
}

a {
    text-decoration: none;
}

p, ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

.lista_menu, .lista_info_personal, .lista_contacto {
    list-style-type: none;
    padding: 0;
}

.opcion_menu, .opcion_lista_personal {
    display: inline;
}

.opcion_menu {
    margin: 40px;
}

.opcion_lista_personal {
    margin: 0 4px;
}

.opcion_hipervinculo_menu {
    color: #fff;
}

hr {
    border: 0;
    height: 1px;
    width: 70%;
    margin: 30px auto;
    background: #bbb5;
}

section {
    padding: 30px;
}

#inicio {
    margin-top: 90px;
}

.info_personal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foto_perfil {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 20px;
}

.logo {
    width: 40px;
    height: 40px;
}

.lista_tecnologias {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.logo_tecnologias {
    margin: 0 15px;
    width: 50px;
    height: 50px;
}

.logo_github {
    background-color: white;
    border-radius: 50%;
}

.container_inicio {
    display: flex;
    justify-content: center;
    gap: 40px;
}

h1 {
    font-size: 4.8em;
    font-weight: 500;
    margin: 0;
}

h2 {
    font-size: 2.7em;
    font-weight: 400;
    color: #4ae;
    margin: 0 0 15px 0;
}

h3 {
    font-size: 2.3em;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.card {
    border-radius: 15px;
    box-shadow: 0 0 5px #bbb;
    width: 325px;
    display: flex;
    flex-direction: column;
    border-left: 5px solid #4ae;
    border-right: 5px solid #4ae;
}

.container_titulo_proyecto {
    height: 90px;
    border-radius: 15px 15px 0 0;
    background-color: #eee;
}

.titulo_proyecto {
    padding: 20px;
    font-size: 1.2em;
}

.imagen_proyecto {
    width: 100%;
    height: 320px;
}

.card-content {
    position: relative;
    height: 50px;
    overflow: hidden;
    background-color: #eee;
    border-radius: 0 0 15px 15px;
}

.tags {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.link_repositorio {
    position: absolute;
    bottom: 8px;
    left: 10px;
}

.tag {
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
}

.logo_link_repositorio {
    width: 25px;
    border-radius: 50%;
}

.card:hover {
    transform: scale(1.01);
    transition: transform 0.4s ease;
}

.logo_info_personal:hover, .logo_tecnologias:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.foto_perfil:hover {
    transform: scale(1.005);
    transition: transform 0.3s ease;
}

.opcion_menu:hover {
    text-shadow: 0 0 20px #eeec;
    transition: text-shadow 0.5s ease;
}

.container_experiencia {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.experiencia_laboral {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 0 5px #bbb;
    border-radius: 15px;
    border-left: 5px solid #4ae;
    border-right: 5px solid #4ae;
}

.detalle_experiencia_laboral {
    display: flex;
    gap: 20px;
    flex: 1;
}

.detalle_trabajo p {
    margin-bottom: 6px;
}

.logo_empresa {
    width: 80px;
    height: 80px;
}

.tareas_experiencia_laboral {
    display: flex;
    flex: 1;
}

.tareas_experiencia_laboral ul li {
    margin-bottom: 15px;
    line-height: 1.2;
}

.nombre_puesto {
    font-size: 1.6em;
}

.nombre_empresa {
    font-size: 1.3em;
}

.container_contacto {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.texto_hipervinculo_contacto {
    color: #333;
    display: inline;
    margin-left: 10px;
    font-size: 1.1em;
}

.hipervinculo_contacto {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.texto_hipervinculo_contacto:hover {
    transform: scale(1.005);
}

.desarrollado {
    padding: 8px 0;
    margin: 0;
    color: #fff;
    font-size: 16px;
    background-color: #333;
    text-align: center;
    border-top: 1px solid #000;
}
