body {
    margin: 0;
    padding: 0;
    background-color: #eee5;
    font-family: sans-serif;
    color: #333;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 0 0 50px 50px;
}

aside {
    background-color: #4aee;
    position: fixed;
    width: 70px;
    left: 0;
    top: 25%;
    border-radius: 0 10px 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

p, ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

.opcion_menu {
    display: inline;
    margin: 40px;
}

a {
    color: #fff;
    text-decoration: none;
}

.logo {
    width: 45px;
    height: 45px;
    margin: 7px 0;
}

.logo_github {
    background-color: white;
    border-radius: 50%;
}

section {
    padding: 20px;
    margin: 90px 10% 10px 10%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

h1 {
    font-size: 3.5em;
    font-weight: 500;
    margin: 0;
}

h2 {
    margin-top: 8px;
    font-size: 1.6em;
    font-weight: 400;
    color: #4ae;
}

footer {
    color: #fff;
    border-radius: 50px 50px 0 0;
}

nav, footer {
    font-size: 1.3em;
    padding: 17px 0;
    background-color: #4aee;
    box-shadow: 0 0 10px #bbb;
    text-align: center;
}

