:root {
    --main-color: #7843E9;
    --dark-color: #111;
    --light-color: #fff;
    --grey-color: #ddd;
    --distance-top: 200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.3px;
}

html {
    scroll-padding-top: var(--distance-top);
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

ul {
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.gap5 {
    gap: 5px;
}

.gap10 {
    gap: 10px;
}

.gap20 {
    gap: 20px;
}

.gap30 {
    gap: 30px;
}

.gap50 {
    gap: 50px;
}

section {
    padding: 80px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#check-hamburger-menu, .hamburger-menu {
    display: none;
}

nav {
    align-items: center;
    padding: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 50px #bbb;
    font-weight: 600;
    z-index: 1001;
    border-bottom: 1px solid #bbb;
}

.fa-solid {
    border-radius: 3px;
}

.fa-code {
    padding: 9px;
    background-color: var(--main-color);
    color: var(--light-color);
}

.fa-bars {
    color: var(--dark-color);
    transition: color 0.5s ease;
    font-size: 1.8rem;
}

nav a, .created a  {
    transition: color 0.5s ease;
}

nav a:hover, .created a:hover {
    color: var(--main-color);
}

nav ul {
    gap: 30px;
}

#personal-info {
    padding-top: var(--distance-top);
    background: linear-gradient(to right, rgba(120, 67, 233, 0.2), rgba(120, 67, 233, 0.2)), url("/static/images/background.webp");
}

.personal-info-section {
    height: 80vh;
}

.summary {
    font-size: 1.2em;
    max-width: 500px;
    text-align: center;
}

.detail-list ul {
    flex-wrap: wrap;
}

.detail-list ul li {
    padding: 7px 12px;
    border: 1px solid #777;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--grey-color);
    transition: box-shadow 0.5s ease;
}

.detail-list ul li:hover {
    box-shadow: 0 0 5px var(--main-color);
}

.logo {
    width: 45px;
    height: 45px;
}

.small-logo {
    width: 30px;
    height: 30px;
}

.github-logo {
    border-radius: 50%;
}

h1 {
    font-size: 2.7em;
    font-weight: 600;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: 600;
}

.cards-container {
    flex-wrap: wrap;
    max-width: 1100px;
    align-items: stretch;
}

.project-card {
    width: 320px;
    height: 100%;
}

.project-card p {
    min-height: 30px;
}

.project-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.project-summary {
    height: 75px;
}

.project-image {
    width: 100%;
    border-radius: 10px;
}

.github-logo-card {
    width: 30px;
    height: 30px;
}

.info-card-container {
    padding: 0 5px;
}

.button-project {
    padding: 10px;
    width: 100%;
    background-color: var(--main-color);
    text-align: center;
    border-radius: 10px;
    color: var(--light-color);
    transition: box-shadow 0.5s ease;
}

.button-project:hover {
    box-shadow: 0 0 3px var(--main-color);
}

#technologies, #contact {
    background-color: rgba(120, 67, 233, 0.2);
}

.work-experience-card, #technologies .detail-list {
    max-width: 700px;
}

.work-experience-card ul li {
    position: relative;
    padding-left: 1.2em;
    text-indent: 0;
    font-size: 1.1em;
}

.work-experience-card ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2em;
    line-height: 1.2;
}

.position-name {
    font-size: 1.6em;
}

.company-name {
    font-size: 1.3em;
}

.contact-container {
    justify-content: flex-start;
}

.contact-container ul {
    align-items: flex-start;
}

.contact-container p {
    font-size: 1.3em;
}

.created {
    padding: 10px;
    color: var(--light-color);
    background-color: var(--dark-color);
    text-align: center;
}

.created a {
    color: var(--light-color);
    text-decoration: none;
}


@media (max-width: 900px) {
    nav ul {
        gap: 15px;
    }
}


@media (max-width: 800px) {
    nav ul {
        position: fixed;
        top: 0;
        right: -50%;
        width: 50%;
        height: 100vh;
        background-color: var(--main-color);
        flex-direction: column;
        gap: 60px;
        transition: right 0.3s ease-in-out;
        z-index: 999;
    }

    #check-hamburger-menu:checked ~ ul {
        right: 0;
    }

    #check-hamburger-menu:checked + .hamburger-menu i {
        color: white;
    }

    .hamburger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1000;
    }

    nav ul li a {
        font-size: 1.4em;
        color: var(--light-color);
    }

    nav ul li a:hover {
        color: var(--light-color);
    }
}


@media (max-width: 500px) {
    h1 {
        font-size: 2em;
    }
}
