<footer id="contact" class="flex flex-col items-center justify-between p-12 bg-blue-100">
    <div class="flex flex-col justify-center gap-8">
        <h2 class="text-3xl md:text-4xl text-center font-semibold">Contact me</h2>
        <ul class="flex justify-center gap-4">
            <li>
                <a href="mailto:lautaroreche1@gmail.com" aria-label="Mail button">
                    <i class="fa-solid fa-envelope text-4xl text-red-400 p-4 md:p-6 border border-gray-300 shadow-md bg-white hover:bg-blue-50 transition-colors rounded-lg animate-on-scroll"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/lautaroreche/" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn button">
                    <i class="fa-brands fa-linkedin text-4xl text-blue-400 p-4 md:p-6 border border-gray-300 shadow-md bg-white hover:bg-blue-50 transition-colors rounded-lg animate-on-scroll"></i>
                </a>
            </li>
        </ul>
        <p class="text-2xl text-center max-w-xl font-semibold">Hope we can work together!</p>
    </div>
    <hr class="mx-auto my-8 w-10/12 text-gray-100">
    <p class="text-lg text-center font-semibold">&copy; {% now "Y" %} - Lautaro Reche</p>
</footer>
