<section id="home" class="relative flex flex-col items-center justify-center gap-4 md:gap-8 px-12 md:px-40 md:pt-18 overflow-hidden text-white" style="height: calc(var(--vh, 1vh) * 100)">
    <div class="absolute inset-0 -z-10">
        <img src="https://res.cloudinary.com/dbmamjgiv/image/upload/v1754690975/hero-background_vrxzab.webp?f=auto&q=auto&w=1410" alt="Background image" class="w-full h-full object-cover" fetchpriority="high"
        srcset="
            https://res.cloudinary.com/dbmamjgiv/image/upload/v1754690975/hero-background_vrxzab.webp?f=auto&q=auto&w=768   768w,
            https://res.cloudinary.com/dbmamjgiv/image/upload/v1754690975/hero-background_vrxzab.webp?f=auto&q=auto&w=1024  1024w,
            https://res.cloudinary.com/dbmamjgiv/image/upload/v1754690975/hero-background_vrxzab.webp?f=auto&q=auto&w=1410  1410w,
            https://res.cloudinary.com/dbmamjgiv/image/upload/v1754690975/hero-background_vrxzab.webp?f=auto&q=auto&w=2000  2000w,
            https://res.cloudinary.com/dbmamjgiv/image/upload/v1754690975/hero-background_vrxzab.webp?f=auto&q=auto&w=2820  2820w"
        />
        <div class="absolute inset-0 bg-black/80"></div>
    </div>
    <h1 class="text-4xl sm:text-5xl md:text-7xl text-center font-semibold">I'm Lautaro Reche</h1>
    <p class="text-xl md:text-2xl text-center max-w-md md:max-w-2xl font-semibold"><span class="text-blue-300">Software Developer</span> with background in web development, automation, scripting and AI model optimization. <span class="hidden md:block">Looking to keep growing in tech!</span></p>
    <ul class="flex gap-4">
        {% for rrss in social_media %}
            <li>
                <a href="{{ rrss.hyperlink }}" target="_blank" rel="noreferrer noopener" aria-label="{{ rrss.name }} button">
                    <i class="fa-brands fa-{{ rrss.name|lower }} text-4xl
                    
                    {% if rrss.name == "LinkedIn" %}
                        text-blue-400
                    {% else %}
                        text-black
                    {% endif %}

                    
                    
                    
                    p-4 md:p-6 border border-gray-300 shadow-md bg-white hover:bg-blue-50 transition-colors rounded-lg animate-on-scroll"></i>
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="#" onclick="scrollToSection('projects'); return false;" class="hidden md:block">
        <i class="fa-solid fa-chevron-down text-2xl absolute bottom-8 left-1/2 transform -translate-x-1/2 animate-bounce"></i>
    </a>
</section>
