{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Portfolio web de Lautaro Reche">
    <meta name="keywords" content="portfolio, data analyst, data analytics, data viz, data science, web developer, web design, programming, font-end development, HTML, CSS, web projects, UI/UX design, web applications, software development, freelance programming, tech solutions, developer portfolio, programming projects, personal portfolio">
    <meta name="author" content="Lautaro Reche">
    <meta name="robots" content="index, follow">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <title>Lautaro Reche | Software Developer</title>
    <link rel="stylesheet" href="{% static 'portfolio_app/css/output.css' %}?v={{ timestamp }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" href="{% static 'images/favicon.ico' %}?v={{ timestamp }}" type="image/x-icon">
</head>
<body>
    {% include 'header.html' %}
    
    {% include 'hero.html' %}
    
    {% include "projects.html" %}
    
    {% include "technologies.html" %}
    
    {% include "experience.html" %}

    {% include 'footer.html' %}
    
    {% include 'scripts.html' %}
</body>
</html>
