{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Portfolio web de Lautaro Reche">
    <meta name="keywords" content="portfolio, web developer, web design, programming, font-end development, HTML, CSS, web projects, UI/UX design, web applications, software development, freelance programming, tech solutions, developer portfolio, programming projects, personal portfolio">
    <meta name="author" content="Lautaro Reche">
    <meta name="robots" content="index, follow">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <title>Lautaro Reche | Software Developer</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="flex-between">
            <div class="flex-center gap10">
                <a href="{% url 'home' %}">
                    <i class="fa-solid fa-code"></i>
                    LAUTARO RECHE
                </a>
            </div>
            <input type="checkbox" id="check-hamburger-menu">
            <label for="check-hamburger-menu" class="hamburger-menu">
                <i class="fa-solid fa-bars"></i>
            </label>
            <ul class="flex-center">
                <li><a href="#home" onclick="toggleCheckbox()">HOME</a></li>
                <li><a href="#projects" onclick="toggleCheckbox()">PROJECTS</a></li>
                <li><a href="#technologies" onclick="toggleCheckbox()">TECHNOLOGIES</a></li>
                <li><a href="#experience" onclick="toggleCheckbox()">EXPERIENCE</a></li>
                <li><a href="#contact" onclick="toggleCheckbox()">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    <section id="home" class="flex gap20 home-section">
        <h1>HI, I'M LAUTARO RECHE</h1>
        <p class="summary">A Software Developer with background in web development, scripting and AI model optimization</p>
        <div class="detail-list">
            <ul class="flex-row gap20">
                {% for rrss in social_media %}
                    <li>
                        <a href="{{ rrss.hyperlink }}" target="_blank" rel="noreferrer" class="flex-center gap10">
                            <img src="{{ rrss.image.url }}" alt="{{ rrss.name }}" class="small-logo" title="{{ rrss.name }}">
                            {{ rrss.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section id="projects"> 
        <h2>PROJECTS</h2>
        <div class="cards-container flex-center gap50">
            {% for project in projects %}
                <div class="project-card flex-col gap10">
                    <img src="{{ project.image.url }}" alt="Picture of project {{ project.title }}" class="project-image" title="Project {{ project.title }}">
                    <div class="info-card-container flex-col gap5">
                        <div class="flex-center flex-row flex-between">
                            <p class="project-title">{{ project.title }}</p>
                            <a href="{{ project.repo_url }}" target="_blank" rel="noreferrer">
                                <img src="{% static 'images/github-logo2.webp' %}" class="github-logo-card" alt="GitHub logo" title="GitHub repository of the project {{ project.title }}">
                            </a>
                        </div>
                        <p class="project-summary">{{ project.summary }}</p>
                    </div>
                    {% if project.public_url %}
                        <a href="{{ project.public_url }}" alt="{{ project.title }}" target="_blank" rel="noreferrer" class="button-project flex-center">
                            View project
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
    <section id="technologies">
        <h2>TECHNOLOGIES</h2>
        <div class="detail-list flex-center">
            <ul class="flex-center gap20">
                {% for technology in technologies %}
                    <li class="flex-center gap10">
                        <img src="{{ technology.image.url }}" alt="{{ technology.name }}" class="small-logo" title="{{ technology.name }}">
                        {{ technology.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section id="experience">
        <h2>EXPERIENCE</h2>
        <div class="cards-container flex-col gap50">
            {% for work_experience in work_experiences %}
                <div class="work-experience-card flex-row gap20">
                    <img src="{{ work_experience.image.url }}" alt="{{ work_experience.name }} logo" title="{{ work_experience.name }}" class="logo">
                    <div class="flex-col gap20">
                        <div class="flex-col gap5">
                            <p class="position-name">{{ work_experience.title }}</p>
                            <p class="company-name">{{ work_experience.company }}</p>
                            <p>{{ work_experience.location }}</p>
                            <p>{{ work_experience.start_date }} - {{ work_experience.end_date }}</p>
                        </div>
                        <ul class="flex-col gap5">
                            {% for key, value in work_experience_description_dict %}
                                {% if key == work_experience.id %}
                                    {% for description in value %}
                                        {% if description %}
                                            <li>{{ description }}</li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section id="contact">
        <h2>CONTACT</h2>
        <div class="contact-container">
            <ul class="flex-col gap20">
                <li>
                    <a href="mailto:lautaroreche1@gmail.com" target="_blank" rel="noreferrer" class="flex-center flex-row gap10">
                        <img src="{% static 'images/gmail-logo.png' %}" alt="Gmail logo" class="logo" title="Gmail logo">
                        <p>lautaroreche1@gmail.com</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/lautaroreche/" target="_blank" rel="noreferrer" class="flex-center flex-row gap10">
                        <img src="{% static 'images/linkedin-logo.png' %}" alt="LinkedIn logo" class="logo" title="LinkedIn logo">
                        <p>lautaroreche</p>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <footer>
        <p class="created">Created by <a href="https://www.linkedin.com/in/lautaroreche/" target="_blank" rel="noreferrer">Lautaro Reche</a></p>
    </footer>
</body>
</html>

<script>
    function toggleCheckbox() {
        document.getElementById('check-hamburger-menu').checked = false;
    }
</script>
